{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container-fluid-head {
            padding: 20px;
        }

        .container-mine {
            height: 45px;
            background-color: darkseagreen;
        }

        .btn-group-wrapper {
            height: 100vh;
            padding-right: 40px;
            padding-left: 40px;
            background-color: darkseagreen;
        }

        .container-top {
            height: 40px;
            background-color: darkseagreen;
        }

        .margin {
            background-color: darkseagreen;
        }

        .html {
            background-color: darkseagreen;
        }

        .body {
            background-color: darkseagreen;
        }

        .form-container {
            margin-left: 20px;

        }

        .result {
            margin-right: 20px;
            margin-top: 20px;
        }
    </style>

<body>
    <div class="container-fluid-head">
        <div class="row">
            <div class="col">
                <div class="float-left">
                    <img src="{% static 'davey_main\images\davey_logo.jpg' %}">
                </div>
            </div>

            <div class="col">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <h3>{{username}}</h3>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href={% url 'davey-home' %}>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'davey-logout' %}>Logout</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-mine">
        <div class="row"></div>
    </div>


    <div class='form-container'>
        <div class='result'>
            <h1>{{selection|safe}}</h1>
        </div>
        <form name="form" method="post">{% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlSelect1">Fertilizer/Biostimulant/Soil Amendment/Growth and Fruit
                    Regulators</label>
                <select class="form-control" name='fert' id="exampleFormControlSelect1">
                    <option value='none'>No Fert/Bio/GR Selected</option>
                    <option value='agpro'>Arborgreen Pro, 30-10-7</option>
                    <option value='polyphos'>Polyphosphite 30, 0-0-27</option>
                    <option value='adams'>Adams Earth</option>
                    <option value='cambistat'>Rainbow Tree Cambistat (paclobutrozol)</option>
                    <option value='florel'>Florel (clorylethylphosphonic acid)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Fungicides/Bactericides</label>
                <select class="form-control" name='fungicide' id="exampleFormControlSelect1">
                    <option value='none'>No Fungicide Selected</option>
                    <option value='clearys'>Clearys 3336WP (theophinate methyl)</option>
                    <option value='cupro'>SePro CuPro 5000 (copper hydroxide)</option>
                    <option value='propiconozole'>BASF Propiconozole</option>
                    <option value='compass'>Bayer Compass (trifloxystrobin)</option>
                    <option value='agrifos'>AgBio Agri-Fos (mono and d-potassium salts of Phosphorous)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Insecticides (Foliar)</label>
                <select class="form-control" name="insecticide" id="exampleFormControlSelect1">
                    <option value='none'>No Insecticide Selected</option>
                    <option value='orthene'>AmVac Orthene 97 (orthene)</option>
                    <option value='bifenthrin'>Talstar (bifenthrin)</option>
                    <option value='permethrin'>Tengard SFR (permethrin)</option>
                    <option value='floramite'>Floramite SC (bifenazate)</option>
                    <option value='abamectin'>Quali-Pro Avid (abamectin)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Insecticides (Systemic/Microinjection)</label>
                <select class="form-control" name='systemic' id="exampleFormControlSelect1">
                    <option value='none'>No Insecticide Selected</option>
                    <option value='treeage'>Arborjet Tree-Age (ememectin benzoate)</option>
                    <option value='imijet'>Arborjet Imijet (imidicloprid)</option>
                    <option value='merit'>Merit WSP (imidicloprid)</option>
                    <option value='xytect'>Xytect 2F (imidicloprid)</option>
                    <option value='safari'>Safari 20SG (dinotefuran)</option>
                </select>
            </div>


            <form>
                <div class="form-group">
                    <label for="carrier">Amount of carrier (in gallons)</label>
                    <input type="number" class="form-control" id="carrier" name='carrier'
                        placeholder="Enter carrier amount">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sticker">
                    <label class="form-check-label" for="inlineCheckbox3">I will be using a surfactant</label>
                </div>
                <input type="submit" value="NEXT -->">
            </form>

    </div>
    <div class="container-mine">
        <div class="row"></div>
    </div>