{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'davey_main/style.css'  %}" type= text/css>
        <body>
            <img src= "{% static 'davey_main\images\davey_logo.jpg' %}">
            <!--need to make login/logout inline
            <div class="topnav">
                <a>STLWest 135831</a>|
                <a href="login/">Login</a> |
                <a href="logout/">Logout</a>|
                <a href="about/">About</a>
            </div>
        -->
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" href="login/">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="logout/">Logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about/">About</a>
                </li>
            </ul>
        </body>
    </head>
</html>