{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container-fluid-head {
            padding: 20px;
        }
    </style>

<body>
    <div class="container-fluid-head">
        <div class="row">
            <div class="col">
                <div class="float-left">
                    <img src="{% static 'davey_main\images\davey_logo.jpg' %}">
                </div>
            </div>

            <div class="col">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <h3>{{username}}</h3>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href={% url 'davey-home' %}>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'davey-logout' %}>Logout</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-top-2">
        <div class="row"></div>
    </div>

    <h3>
        {{showing}}
    </h3>
    <form name="form" method="post"> {% csrf_token %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="AG Pro">
            <label class="form-check-label" for="inlineCheckbox1">Arborgreen Pro</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="Inspect and Treat">
            <label class="form-check-label" for="inlineCheckbox2">Inspection and Treatment</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="EAB">
            <label class="form-check-label" for="inlineCheckbox3">Emerald Ash Borer</label>
        </div>
        
        <br>
        
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="Spring">
            <label class="form-check-label" for="inlineCheckbox1">Spring</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="Summer">
            <label class="form-check-label" for="inlineCheckbox2">Summer</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="Fall">
            <label class="form-check-label" for="inlineCheckbox3">Fall</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="Winter">
            <label class="form-check-label" for="inlineCheckbox3">Winter</label>
        </div>
        <input type="submit" value="Filter Tickets">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ticket Type</th>
                <th scope="col">Cost</th>
                <th scope="col">Season</th>
                <th scope="col">Client Zip Code</th>
                <th scope="col">Client Name</th>
                <th scope="col">Arborist</th>

            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{ticket.ticket_type}}</td>
                <td>${{ticket.ticket_cost}}</td>
                <td>{{ticket.ticket_season}}</td>
                <td>{{ticket.owner.client_zip_code}}</td>
                <td>{{ticket.owner.client_last_name}}, {{ticket.owner.client_first_name}}</td>
                <td>{{ticket.owner.client_rep.arb_name_last}}, {{ticket.owner.client_rep.arb_name_first}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</head>

</html>